<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D3.js + TopoJson</title>

    <script src="https://unpkg.com/d3@5.6.0/dist/d3.min.js"></script>
    <script src="https://unpkg.com/topojson@3.0.2/dist/topojson.min.js"></script>
    <link href="assets/css/styles.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <header>
            <div class="title">
                <h3>D3 + TopoJson - Brasil</h3>
            </div>
        </header>
        <main>
            <section class="section-brasil">
                <div class="title title-map">
                    Brasil
                </div>
                <svg id="brasil"></svg>
            </section>
            <section class="section-state">
                <div class="load" id="load">
                    <p>Carregando...</p>
                </div>
                <div class="title title-map" id="title-state">
                    Brasil
                </div>
                <svg id="state"></svg>
    
                <div class="options">
                    <div class="grupo">
                        <input type="radio" id="micro" name="type" value="micro" checked>
                       
                        <label for="micro">
                            <div class="icon-option"></div>
                            Micro
                        </label>
                    </div>
                    <div class="grupo">
                        <input type="radio" id="meso" name="type" value="meso">
                        <label for="meso">
                            <div class="icon-option"></div>
                            Meso
                        </label>
                    </div>
                    <div class="grupo">
                        <input type="radio" id="municipalities" name="type" value="municipalities">
                        <label for="municipalities">
                            <div class="icon-option"></div>
                            Municipalities
                        </label>
                    </div>
                    <div class="grupo">
                        <input type="radio" id="stateOp" name="type" value="state">
                        <label for="stateOp">
                            <div class="icon-option"></div>
                            State
                        </label>
                    </div>

                    <div class="grupo">
                        <input type="radio" id="immediate" name="type" value="immediate">
                        <label for="immediate">
                            <div class="icon-option"></div>
                            Immediate
                        </label>
                    </div>
                    <div class="grupo">
                        <input type="radio" id="intermediate" name="type" value="intermediate">
                        <label for="intermediate">
                            <div class="icon-option"></div>
                            Intermediate
                        </label>
                    </div>
                </div>
            </section>
        </main>
        <footer>
            <div class="credits">
                Mauricio Alves - <a href="https://github.com/mac-alves" target="blakc">GitHub</a> 
            </div>
        </footer>
    </div>
    
    <!-- scripts -->
    <script src="assets/js/script.js"></script>
    <!-- <script src="assets/js/bubble/bubble-map.js"></script> -->
</body>
</html>